.add-address-page{ display: block; width: 100%; height: 100%; background: #fff; overflow: hidden; }
.add-address-page * { touch-action: pan-y; }
.stop-scroll{
  position: fixed;
  top: 0;
  left: 0;
}
.add-address-header{
  display: block;
  text-align: center;
  line-height: calc(99 / 32 * 1rem);
  border-bottom: calc(1 / 32 * 1rem) solid #E8E8E8;
  font-size: calc(36 / 32 * 1rem);
  color: #333333;
}

.trash{
  width: calc(32 / 32 * 1rem);
  position: absolute;
  top: calc(32 / 32 * 1rem);
  right: calc(50 / 32 * 1rem);
  z-index: 999;
}

.add-address-content{ display: block; }

.submit-btn{
  display: block;
  position: fixed;
  /* left: calc(50 / 32 * 1rem); */
  left: 7%;
  bottom: calc(70 / 32 * 1rem);
  /* width: calc(650 / 32 * 1rem); */
  width: 86%;
  text-align: center;
  line-height: calc(90 / 32 * 1rem);
  background: #CCCCCC;
  border-radius: calc(10 / 32 * 1rem);
  font-size: calc(30 / 32 * 1rem);
  color: #FFFFFF;
}

.submit-btn-actived{
  display: block;
  position: fixed;
  left: 7%;
  bottom: calc(70 / 32 * 1rem);
  width: 86%;
  text-align: center;
  line-height: calc(90 / 32 * 1rem);
  background: #B1C7A0;
  border-radius: calc(10 / 32 * 1rem);
  font-size: calc(30 / 32 * 1rem);
  color: #FFFFFF;
}