.header-title{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  line-height: calc(99 / 32 * 1rem);
  border-bottom: calc(1 / 32 * 1rem) solid #E8E8E8;
  background: #fff;
}
.back-arrow-btn{
  display: block;
  position: absolute;
  left: calc(30 / 32 * 1rem);
  top: calc(50% - (30 / 32 * 1rem));
  width: calc(60 / 32 * 1rem);
  height: calc(60 / 32 * 1rem);
}
.back-arrow-btn img{ display: block; width: 100%; }