.page{
}

.user-center-page {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}

.user-center-content{ display: block; }
.user-center-header{ display: block; margin: 0 auto; width: calc(650 / 32 * 1rem); text-align: center; line-height: calc(103 / 32 * 1rem); border-bottom: calc( 1 / 32 * 1rem) solid #E8E8E8; }

.user-center-list{ display: block; padding: 0; margin: 0; }
.user-center-item{ display: flex; justify-content: space-between; align-items: center; padding: 0; margin: 0 auto; width: calc(650 / 32 * 1rem); height: calc(100 / 32 * 1rem); border-bottom: calc(1 / 32 * 1rem) solid #E8E8E8; }
.user-center-item span{ display: block; font-size: calc(28 / 32 * 1rem); color: #333333; }
.user-center-item img{ display: block; width: calc(40 / 32 * 1rem); height: calc(40 / 32 * 1rem); }
